:root {
    /* Colors */
    --body-bg: #0F1016;
    --nav-bg: #1b1c22;

    /* Font */
    --font-inter: Inter;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--body-bg);
    overflow-x: hidden;
}

.stars-bg, .pattern-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.pattern-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120.88deg, #000000 11.69%, rgba(0, 0, 0, 0.26) 80.16%);
    z-index: 1; /* Ensure this is on top of the pattern */
    pointer-events: none;
}

.nav-section {
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-container {
    position: relative;
    width: fit-content;
    top: 40px;
    background-color: var(--nav-bg);
    border: 2px solid #23242A;
    border-radius: 50px;
    padding: 10px 20px;
}

nav {
    display: flex;
    flex-direction: row;
}

.nav-item, .nav-link {
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 0 10px;
    font-size: 20px;
    line-height: 24.2px;
    font-family: 'Inter';
}

.hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.content-card {
    background: #FFFFFF17;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 40px;
    max-width: 800px;
}

.content-card h1 {
    font-family: 'Inter';
    font-size: 64px;
    color: white;
    font-weight: 700;
    line-height: 77.45px;
}

.content-card p {
    font-family: 'Inter';
    font-size: 22px;
    color: white;
    font-weight: 400;
    line-height: 26.63px;
}

.hero-img {
    max-width: 600px;
    scale: 1.2;
    transform: translateX(10%);
}
